html, body {
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #888;
}
canvas { width: 100%; height: 100% }
#debugWindow{
	position: absolute; 
	z-index: 999;
	background-color: rgba(0,0,0,0.7); 
	color: #fff;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	min-width: 200px;
	border: 1px solid #fff;
}
#debugWindow span{
	display: block;
}
#chatWindow{ 
	position:absolute;
	z-index:999;
	background-color: rgba(0,0,0,0.9);
	color: #eee;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	min-width: 400px;
	top: 60vh;
	height: 20vh;
	border: 1px solid #fff;
	display:none;
}
#loginWindow {
	position:fixed;
	width: 300px;
	height: 120px;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,0.9);
	margin-top: 45vh;
	margin-left: 40vw;
	color: #ccc;
}
